# dependencies
node_modules/

# expo
.expo/
dist/

# env
.env
.env.*
!.env.example

# logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# build
build/
coverage/

# android/ios generated
mobile/android/
mobile/ios/

# vscode
.vscode/